<div class="card mb-4">
    {% if p.filename %}
        <img src="{{ vich_uploader_asset(p, 'imageFile') | imagine_filter('thumbnail') }}" alt="card-img-top" style="width: 100%;, height: auto;">
    {% else %}
        <img src="{{ '/images/properties/no-image.jpeg' | imagine_filter('thumbnail') }}" alt="card-img-top" style="width: 100%;, height: auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: p.id, slug: p.slug}) }}">{{ p.title }}</a>
        </h5>
        <p class="card-text">{{ p.surface }} m² - {{ p.city }} ({{ p.postalCode }})</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ p.formattedPrice }} €</div>
    </div>
</div>