<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: p.id, slug: p.slug}) }}">{{ p.title }}</a>
        </h5>
        <p class="card-text">{{ p.city }} ({{ p.postalCode }})</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ p.formattedPrice }} €</div>
    </div>
</div>